doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Image to Primitive
    meta(name='twitter:image' content='https://image-to-primitive.now.sh/cover.1.png')
    meta(property='og:image' content='https://image-to-primitive.now.sh/cover.1.png')
    script(src='index.js' defer)
    link(rel='stylesheet' href='./index.styl')
  body
    h1 Image to Primitive
    .container
      .fields
        .field
          label(for='imgInput') Image
          input.js-input(type='text' id='imgInput' value='https://sophearak.me/static/profile.jpg')
        .field
          label(for='modeOption') Mode
          .with-icon
            select.js-input(name='modeOption' id='modeOption')
              option(value='0') Combo
              option(value='1' selected) Triangle
              option(value='2') Rect
              option(value='3') Ellipse
              option(value='4') Circle
              option(value='5') Rotated Rect
              option(value='6') Beziers
              option(value='7') Rotated Ellipse
              option(value='8') Polygon
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
              polyline(points='6 9 12 15 18 9')
        .field
          label(for='shapeOption') Number of shapes
          .with-icon
            select.js-input(name='shapeOption' id='shapeOption')
              option(value='8') 8 shapes
              option(value='16') 16 shapes
              option(value='32' selected) 32 shapes
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
              polyline(points='6 9 12 15 18 9')
        .field
          label(for='typeOption') Output
          .with-icon
            select.js-input(name='typeOption' id='typeOption')
              option(value='png') PNG
              option(value='jpg' selected) JPG
              option(value='svg') SVG
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24')
              polyline(points='6 9 12 15 18 9')
        .field
          button.js-button Generate
        .field
          .note
            p Please note: The image production takes a little while.
      .result
        img(src='./assets/primitive.jpg' id='imgResult')
        .hide.ph-item.js-loading
          .ph-col-12
            .ph-picture
    footer
      h2 What is this?
      p This is a service that converts an image to its geometric primitives. 
        | It’s powered by 
        a(href='https://zeit.co/docs/v2/deployments/official-builders/go-now-go') @now/go
        |  with 
        a(href='https://github.com/fogleman/primitive') primitive
        |  package.
      p Find out how it works on the
        | 
        a(href='https://github.com/sophearak/image-to-primitive') GitHub
        |  repository.
      small Proudly hosted on
        | 
        a(href='https://zeit.co/now') ▲ZEIT Now
